In [1]:
import pandas as pd

In [28]:
# Define Index

people = {
    'id': [4, 5, 2, 3, 1, 6],
    'name': ['Sam', 'Eleonore', 'Margaret', 'Ralf', 'Dean', 'Rig'],
    'surname': ['Hasmond', 'Hasmond', 'Sims', 'Maquita', 'Naed', 'Hight'],
    'age': [33, 35, 15, 32, 17, 90],
    'sex': ['M', 'F', 'F', 'M', 'M', 'M'],
    'email': ['samhasmond@hasmonds.com', 'eleonorehasmond@hasmonds.com', 'mag@me.to.com', 'mrmaquita@somene.maq.com', 'serinity@health.com', 'girmas@support.com'],
}
df = pd.DataFrame(people)

df.set_index('id', inplace=True) # Set id as index
df.sort_index(ascending=True, inplace=True) # Order dt asc

df

        name  surname  age sex                         email
id
1       Dean     Naed   17   M           serinity@health.com
2   Margaret     Sims   15   F                 mag@me.to.com
3       Ralf  Maquita   32   M      mrmaquita@somene.maq.com
4        Sam  Hasmond   33   M       samhasmond@hasmonds.com
5   Eleonore  Hasmond   35   F  eleonorehasmond@hasmonds.com
6        Rig    Hight   90   M            girmas@support.com

In [26]:
# Filt by sex
male = (df['sex'] == 'M')
female = (df['sex'] == 'F')

# Filt adults
male_adult = (df['age'] > 18) & (df['sex'] == 'M')
female_adult = (df['age'] > 18) & (df['sex'] == 'F')

# Filt names
selecteds = (df['surname'] == 'Hasmond') | (df['name'] == 'Dean')

In [15]:
# view filtered result of Male
df.loc[male, ['name', 'age']]

    name  age
id
1   Dean   17
3   Ralf   32
4    Sam   33
6    Rig   90

In [16]:
# view filtered result of Female
df.loc[female, ['name', 'age']]

        name  age
id
2   Margaret   15
5   Eleonore   35

In [17]:
# view filtered Male adults
df.loc[male_adult, ['name', 'age']]

    name  age
id
3   Ralf   32
4    Sam   33
6    Rig   90

In [21]:
# view filtered Female adults
df.loc[female_adult, ['name', 'age']]

        name  age
id
5   Eleonore   35

In [29]:
# view filtered selecteds by some criteria
df.loc[selecteds, ['name', 'age', 'email']]

        name  age                         email
id
1       Dean   17           serinity@health.com
4        Sam   33       samhasmond@hasmonds.com
5   Eleonore   35  eleonorehasmond@hasmonds.com

In [32]:
# Show not selecteds
df.loc[~selecteds, ['name', 'age', 'email']]

        name  age                     email
id
2   Margaret   15             mag@me.to.com
3       Ralf   32  mrmaquita@somene.maq.com
6        Rig   90        girmas@support.com